
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$openpay-frontend-primary: mat-palette($mat-indigo);
$openpay-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$openpay-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$openpay-frontend-theme: mat-light-theme($openpay-frontend-primary, $openpay-frontend-accent, $openpay-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($openpay-frontend-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$openpay-frontend-primary: mat-palette($mat-indigo);
$openpay-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$openpay-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$openpay-frontend-theme: mat-light-theme($openpay-frontend-primary, $openpay-frontend-accent, $openpay-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($openpay-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {background-color: #FBFBFB; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.table {
  width: 80%;
  height: 80%;
  margin: 0px auto;
  padding: 30px 40px 40px 40px;
  background-color: white;
  box-shadow: 0 8px 80px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px;
}

.field-coin {
  min-width: calc(50% + 1px);
}

.field-wallet {
  min-width: calc(100% + 1px);
}

.modal {
  width: 60%;
  height: 60%;
  margin: 0px auto;
  padding: 30px 40px 40px 40px;
  background-color: white;
  box-shadow: 0 8px 80px 0 rgba(0, 0, 0, 0.14),
  0 7px 10px -5px;
}

.header {
  margin: 0px auto;
  border-radius: 6px;
  max-width: 1100px;
  padding-top: -20px;
  position: relative;
  color: white;
  padding: 15px;
  box-shadow: 0 8px 80px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(244, 67, 54, 0.4);
  background: linear-gradient(60deg, #ef5350, #e53935);
}

.card {
  background: linear-gradient(60deg, #F7F7F7, #F3F2F2);
  padding: "20px 20px 20px 20px";
}

.button {
  cursor: pointer;
  border: none;
  background-color: transparent !important;
  color: rgb(42, 208, 0);
}

.button:hover .dolar{
  background-color: transparent !important;
  color: rgb(42, 208, 0);
}

.content {
  padding: 60px 60px;
}

.button-transaction {
  background-color: #5066E5;
  color: white;
  margin: 30px;
}

.transaction-div{
  text-align:center;
  margin: 30px;
}
